@model TicketManagement.Application.Queries.OrderDetailsQueryResult



<div class="order-details">
    <p>
        <label>ღონისძიება :</label> @Model.EventName
    </p>
    <p>
        <label>ბილეთების რაოდენობა :</label> @Model.TicketCount
    </p>
    <p>
        <label>შეკვეთის ნომერი :</label> @Model.OrderId
    </p>
</div>